/*vars*/
$white-green: #2bb673;
$green: #29ac6d;
$black-green: #124b30;
$white-gray: #f1f1f2;
$white: #ffffff;
$dark-gray: #727782;
$dark-blue: #2a3245;
$blue: #434e66;
$black: #293244;

@custom-media --md-viewport (max-width: 1200px);
@custom-media --sm-viewport (max-width: 900px);
@custom-media --xs-viewport (max-width: 767px);

@font-face {
	font-family: 'proximanova-regular';
	src: url('fonts/proximanova-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
	url('fonts/proximanova-regular-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
    font-family: 'proximanova-extrabold';
    src: url('fonts/proximanova-extrabold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/proximanova-extrabold-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
    font-family: 'proximanova-light';
    src: url('fonts/proximanova-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/proximanova-light-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
    font-family: 'proximanova-bold';
    src: url('fonts/proximanova-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/proximanova-bold-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
    font-family: 'proximanova-semibold';
    src: url('fonts/proximanova-semibold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/proximanova-semibold-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}
@font-face {
    font-family: 'proximanova-bolditalic';
    src: url('fonts/proximanova-bolditalic-webfont.woff2') format('woff2'), /* Super Modern Browsers */
    url('fonts/proximanova-bolditalic-webfont.woff') format('woff'); /* Pretty Modern Browsers */
}

body {
	margin: 0px;
	padding: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.container {
	margin: 0px auto;
	max-width: 1188px;
}

header {
	background: url("imgs/bg.png") no-repeat top center;
	min-height: 769px;
    padding: 0px 15px;
    h1 {
        margin: 0px;
        img {
            max-width: 100%;
            display: block;
            margin: 0px auto;
            padding: 40px 0px 60px;
        }
    }
}

.form-container > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
    .information {
        flex: 2;
        h2 {
            font-family: 'proximanova-bold';
            font-size: 34px;
            line-height: 40px;
            color: $white;
            margin: 0px;
            position: relative;
            padding: 0px 0px 0px 35px;
            &:before {
                 content: "";
                 background: $green;
                 width: 10px;
                 height: 70px;
                 position: absolute;
                 left: 0;
                 top: 3px;
             }
        }
        p {
            margin: 0px;
            color: $white;
            font-family: 'proximanova-light';
            font-size: 34px;
            line-height: 40px;
            padding: 0px 0px 0px 35px;
        }
        ul {
            padding: 0px;
            margin: 100px 0px 0px;
            list-style: none;
            li {
                font-size: 26px;
                line-height: 43px;
                color: $white;
                font-family: 'proximanova-light';
                position: relative;
                padding: 0px 0px 0px 45px;
                &:before {
                     content: "";
                     width: 33px;
                     height: 33px;
                     position: absolute;
                     left: 0;
                     top: 5px;
                     background: url(imgs/arrow-topics.png) no-repeat center;
                     z-index: 123;
                }
                strong {
                    font-family: 'proximanova-bold';
                    border-bottom: 3px solid $white-green;
                }
            }
        }
    }
    .form {
        flex: 1;
        background: $white;
        > p {
            font-size: 24px;
            line-height: 28px;
            color: #293244;
            font-family: proximanova-bolditalic;
            text-align: center;
            padding: 30px;
        }
        .form-header {
            font-size: 24px;
            line-height: 28px;
            color: $white;
            font-family: 'proximanova-bolditalic';
            background: $dark-gray;
            text-align: center;
            padding: 22px 0 5px;
            position: relative;
            &:after {
                 content: "";
                 background: url(imgs/tri.png) no-repeat center;
                 width: 100%;
                 height: 100%;
                 position: absolute;
                 left: 0;
                 bottom: -55px;
             }
        }
        form {
            text-align: center;
            padding: 50px 36px 39px;
            fieldset {
                border: 0px;
                margin: 0px 0px 5px;
                padding: 0px;
                &:nth-last-child(1),
                &:nth-last-child(2) {
                    margin: 0px;
                }
                input {
                    width: 100%;
                    box-sizing: border-box;
                    background: $white-gray;
                    border-radius: 0px;
                    height: 42px;
                    line-height: 42px;
                    font-size: 16px;
                    border: 0px;
                    padding: 0px 15px;
                    font-family: 'proximanova-light';
                    outline-color: $green;
                }
                #contact-submit {
                    border-radius: 2px;
                    background: $white-green;
                    border: 0px;
                    border-bottom: 3px solid #26a065;
                    border-top: 3px solid #2bb673;
                    width: 100%;
                    height: 55px;
                    color: $white;
                    margin: 30px 0px 0px;
                    font-size: 22px;
                    font-family: 'proximanova-extrabold';
                    cursor: pointer;
                    transition: background, color ease 1s;
                    &:hover {
                        box-shadow: none;
                        color: $white-green;
                        background: transparent;
                        border: 3px solid $white-green;
                        transition: background, color ease 1s;
                    }
                }
            }
        }
    }
}

@media (--md-viewport) {
    .form-container > div {
        .form {
            flex: 2;
        }
        .information {
            ul {
                margin: 40px 0px 0px;
                li {
                    font-size: 22px;
                    line-height: 30px;
                    margin: 0px 0px 10px;
                }
            }
        }
    }
}

@media (--sm-viewport) {
    .form-container > div {
        .information{
            flex: 1;
            ul {
            margin: 30px 0px 40px;
                li {
                    &:before {
                        width: 26px;
                        height: 26px;
                        background-size: cover;
                    }
                    h2 {
                        font-size: 30px;
                        line-height: 32px;
                    }
                    p {
                        font-size: 26px;
                        line-height: 30px;

                    }
                }
            }
        }
        .form {
            flex: 1;
        }
    }
}

@media (--xs-viewport) {
    header {
        padding: 0px 15px 90px;
        background: #293244 url(imgs/bg.png) no-repeat bottom;
        h1 {
            img {
                padding: 30px 0px 40px;
            }
        }
    }
    .form-container > div {
        .form {
            flex: 0 1 100%;
        }
        .information {
            h2 {
                font-size: 30px;
                line-height: 32px;
                margin: 0px 0px 5px;
                &:before {
                    height: 58px;
                }
            }
            p {
                font-size: 26px;
                line-height: 30px;
            }
            ul {
                margin: 30px 0px 40px;
                li {
                    font-size: 21px;
                    line-height: 29px;
                    padding: 0px 0px 0px 38px;
                    &:before {
                        width: 26px;
                        height: 26px;
                        background-size: cover;
                        top: 3px;
                    }
                }
            }
        }
    }
}

.steps-container {
	text-align: center;
	background: $green;
    div {
        background: $white-green;
        padding: 60px 15px 70px;
        h2 {
            color: $white;
            font-size: 34px;
            line-height: 40px;
            margin: 0px 0px 45px;
            font-family: 'proximanova-bold';
            position: relative;
            display: inline-block;
            &:before {
                content: "";
                background: $black;
                width: 10px;
                height: 100%;
                position: absolute;
                left: -26px;
                top: 0px;
            }
        }
        span {
            font-size: 80px;
            line-height: 100%;
            color: $white;
            font-family: 'proximanova-light';
            display: block;
        }
        p {
            color: $black-green;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
            margin: 0px;
            font-family: 'proximanova-semibold';
        }
    }
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-content: stretch;
        padding: 77px 0px 60px;
        margin: 0px auto;
        list-style: none;
        max-width: 790px;
        li {
            flex: 0 1 170px;
            position: relative;
            img {
                max-width: 100%;
                margin: 0px 0px 15px;
            }
            strong {
                font-size: 24px;
                line-height: 24px;
                color: $white;
                margin: 0px 0px 15px;
                display: block;
                font-family: 'proximanova-semibold';
                font-weight: normal;
            }
            p {
                color: $black-green;
                font-size: 12px;
                line-height: 15px;
                text-transform: uppercase;
                margin: 0px;
                font-family: 'proximanova-semibold';
            }
            &:nth-child(1),
            &:nth-child(2) {
                &:before {
                    content: "";
                    background: url(imgs/arrow.png) no-repeat center;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 154px;
                }
            }
            &:nth-child(2) {
                &:before {
                    transform: rotateZ(180deg) rotateY(180deg);
                    top: -120px;
                }
            }
        }
    }
    button {
        font-size: 22px;
        color: $white;
        border: 3px solid $white;
        height: 55px;
        text-align: center;
        background: #299f68;
        border-radius: 2px;
        width: 268px;
        margin: 0px auto 100px;
        font-family: 'proximanova-extrabold';
        cursor: pointer;
        outline: none;
        transition: background ease .5s;
        &:hover {
            background: #23965f;
            border: none;
            border-bottom: 3px solid #1d8453;
            transition: background ease .5s;
            border-top: 3px solid transparent;
        }
    }
}

@media (--sm-viewport) {
    .steps-container {
        div {
            h2 {
                &:before {
                    left: calc(50% - 5px);
                    top: -35px;
                    transform: rotateZ(90deg);
                }
            }
        }
    }
}

@media (--xs-viewport) {
    .steps-container {
        div {
            h2 {
                font-size: 32px;
                line-height: 36px;
                &:before {
                    top: -35px;
                    height: 30px;
                }
            }
        }
        ul {
            li {
                flex: 0 1 100%;
                margin: 0px 0px 100px;
                &:nth-last-child(1) {
                    margin: 0px;
                }
                &:nth-child(1),
                &:nth-child(2) {
                    &:before {
                        content: "";
                        background: url(imgs/arrow-vertical.png) no-repeat center;
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        left: 0;
                        top: 140px;
                    }
                }
                &:nth-child(2) {
                    &:before {
                        transform: rotate(0deg) rotateY(180deg);
                    }
                }
            }
        }
    }
}

.opinions-container {
	text-align: center;
	background: $white-gray;
	padding: 60px 15px 170px;
    h2 {
        margin: 0px 0px 50px;
        font-size: 34px;
        line-height: 40px;
        color: $dark-blue;
        font-family: 'proximanova-bold';
        position: relative;
        display: inline-block;
        &:before {
             content: "";
             background: #2bb573;
             width: 10px;
             height: 100%;
             position: absolute;
             left: -26px;
             top: 0px;
         }
    }
    blockquote {
        position: relative;
        max-width: 985px;
        margin: 0px auto;
        box-shadow: 0px 35px 130px 0px rgba(0, 0, 0, 0.1);
        > p {
            margin: 0px;
            background: $white;
            padding: 35px 55px;
            color: $dark-blue;
            font-size: 22px;
            line-height: 32px;
            font-family: 'proximanova-regular';
        }
        > footer {
            position: absolute;
            bottom: -75px;
            left: calc(50% - 150px);
            width: 300px;
            p {
                margin: 0px;
                color: $black;
                font-size: 12px;
                line-height: 15px;
                font-family: 'proximanova-bold';
                font-style: normal;
                text-transform: uppercase;
            }
        }
    }
}

@media (--sm-viewport) {
    .opinions-container {
        h2 {
            &:before {
                left: calc(50% - 5px);
                top: -35px;
                height: 30px;
                transform: rotateZ(90deg);
            }
        }
    }
}

@media (--xs-viewport) {
    .opinions-container {
        h2 {
            font-size: 32px;
            line-height: 36px;
            &:before {
                top: -35px;
                height: 30px;
            }
        }
        blockquote {
            > p {
                padding: 35px;
                text-align: left;
            }
        }
    }
}

.studies-container {
	background: $dark-gray;
	padding: 60px 10px 0px;
    text-align: center;
    > div > div {
        margin: 0px auto 50px;
    }
    h2 {
        color: $white;
        font-size: 34px;
        line-height: 40px;
        margin: 0px 35px 0px 0px;
        font-family: 'proximanova-bold';
        position: relative;
        display: inline-block;
        vertical-align: middle;
        &:before {
            content: "";
            background: $black;
            width: 10px;
            height: 100%;
            position: absolute;
            left: -26px;
            top: 0px;
        }
    }
    button {
        font-size: 22px;
        color: $white;
        border: 3px solid $white;
        height: 55px;
        text-align: center;
        background: transparent;
        border-radius: 2px;
        width: 248px;
        font-family: 'proximanova-extrabold';
        cursor: pointer;
        outline: none;
        transition: background ease .5s;
        &:hover {
            background: #23965f;
            border: none;
            border-bottom: 3px solid #1d8453;
            transition: background ease .5s;
            border-top: 3px solid transparent;
        }
    }
    img {
        max-width: 950px;
        width: 100%;
        display: block;
        margin: 0px auto;
    }
}

@media (--sm-viewport) {
    .studies-container {
        h2 {
            margin: 0px 0px 10px;
            &:before {
                left: calc(50% - 5px);
                top: -55px;
                transform: rotateZ(90deg);
            }
        }
    }
}

@media (--xs-viewport) {
    .studies-container {
        h2 {
            font-size: 32px;
            line-height: 36px;
            &:before {
                top: -35px;
                height: 30px;
            }
        }
    }
}

.footer-container > div {
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
    padding: 0px 15px;
    > * {
        flex: 0 1 auto;
    }
    img {
        max-width: 100%;
    }
    div + div {
        text-align: right;
        a {
            color: $white;
            text-decoration: none;
            font-size: 10px;
            display: inline-block;
            text-transform: uppercase;
            color: $blue;
            text-align: right;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

@media (--xs-viewport) {
    .footer-container > div {
        padding: 20px 0px;
        text-align: center !desculpa;
        div + div {
            a {
                display: block;
                margin: 0px auto 5px;
                text-align: center;
            }
        }
        > * {
            flex: 0 1 100%;
        }
    }
}